<header>		
	<h1><a href="<%= root_path %>">INSTAPRINTER</a></h1>
</header>

<section id="content" class="clearfix">	
	<h1 class="center">Para continuar elige un producto</h1>

<% @servs.each do |s| %> <!-- массив сервисов из базы данных поэлементно выводится s.sname -name of service , s.descr -description etc--> 

	<% if s.status %> <!-- Проверка статуса сервиса -->	
	<article id="id-<%= s.id %>" class="product box1" onclick="location.href='<%= url_for(:controller => 'services', :action => 'show', :s => s.id, :only_path => false, :protocol => 'http') %>';">
	<div><img src="images/product_id_<%= s.id %>.png" alt="<%=  s.sname %> de Instagram" width="245" height="245" /></div>
	
	<p><%=  s.descr %></p>	
	<p>Solamente a <strong>$<%=  s.price %></strong></p>
	</article>
	<% end %>
<% end %>
</section><!--#content-->