<header>	
	<h1><span>INSTA</span><%= @serv.sname %></h1>
</header>

<section id="content" class="clearfix">
	<section id="breadcrumbs" class="generic">
	<%= render 'layouts/breadcrumbs' %>
	</section><!--#breadcrumps-->
		
	<section id="sidebar">		
		<article id="id-<%= @serv.id %>" class="step">
			<div><img src="images/product_id_<%= @serv.id %>.png" alt="<%= @serv.sname %> de Instagram" width="245" height="245" /></div>
			<p><%= @serv.descr %></p>		
		</article>
	</section><!--#sidebar-->
	
	<section id="description">			
	<%= @serv.fulldescription.html_safe %>
	
	<div class="sampledata clearfix">
		<a href="/sampledata/sid_<%= @serv.id %>_01.jpg" rel="insta<%= @serv.sname %>"><img src="/sampledata/thumbs/sid_<%= @serv.id %>_01.jpg" alt="<%= @serv.sname %>" width="100" height="100" /></a>
		<a href="/sampledata/sid_<%= @serv.id %>_02.jpg" rel="insta<%= @serv.sname %>"><img src="/sampledata/thumbs/sid_<%= @serv.id %>_02.jpg" alt="<%= @serv.sname %>" width="100" height="100" /></a>
		<a href="/sampledata/sid_<%= @serv.id %>_03.jpg" rel="insta<%= @serv.sname %>"><img src="/sampledata/thumbs/sid_<%= @serv.id %>_03.jpg" alt="<%= @serv.sname %>" width="100" height="100" /></a>
		<a href="/sampledata/sid_<%= @serv.id %>_04.jpg" rel="insta<%= @serv.sname %>"><img src="/sampledata/thumbs/sid_<%= @serv.id %>_04.jpg" alt="<%= @serv.sname %>" width="100" height="100" /></a>
	</div>
	<div class="clear"></div>
		
	<% if !session[:access_token] %>
	<p>Estas listo? Entra con tu Instagram pinchando el bóton <a href="<%= url_for(:controller => 'sessions', :action => 'connect', :s => @serv.id, :only_path => false, :protocol => 'http') %>"><strong>"Entrar con Instragram" &#8675;</strong></a> y siga las instrucciones!</p>
	
	<p><a href="<%= url_for(:controller => 'sessions', :action => 'connect', :s => @serv.id, :only_path => false, :protocol => 'http') %>"><img class="loginbutton" src="images/loginbutton.png" alt="Conectarse con Instagram" width="210" height="40" /></a></p>
	<% else %>
	<p>Estas listo? Seguimos entonces!</p>
	<p><a class="large awesome" href="<%= url_for(:controller => 'feed', :action => 'index', :only_path => false, :protocol => 'http') %>">Proximo paso &#8674;</a></p>
	<% end %>
	</section><!--#description-->
</section><!--#content-->