<header>		
	<h1><span>INSTA</span><%= @serv.sname %></h1>
</header>

<section id="content" class="clearfix">	
	<section id="breadcrumbs" class="generic">
	<%= render 'layouts/breadcrumbs' %>
	</section><!--#breadcrumps-->
		
	<section id="sidebar">		
		<article id="id-<%= @serv.id %>" class="step">
			<h2>Selecionar fotos</h2>

			<p><em><%= @user.username.capitalize %></em>, tu tienes <%= @recent_media_items.size %> fotografías en tu Instagram.</p>

			<%= @serv.instruction.html_safe %>
			
			<p class="mycounter"></p>
		</article>
	</section><!--#sidebar-->
	
	<section id="description">		

	<%= form_tag(book_path, :method => "post", :id => "instagramstream", :class => "clearfix") do %>			
		<% if @serv.id == 2 or @serv.id == 3 %>
		<p class="center"><a href="#" id="selectoogle" class="selectall">Selecionar todo</a></p>
		<% end %>
	
		<!-- Вывод последних медиа блоком -->	
		<% @recent_media_items.each do |media| %>
		<div class="imagebox">
			<img src="<%= media.images.thumbnail.url %>" name="isam[]" id="<%= media.id %>" alt=""  width="100" />
			<span></span>
		</div>			
		<% end %>
					
		<div class="clear"></div>
		<% hidden_field_tag(:imagesid, "") %>
		
		<div id="checkboxes" class="hidden">
		<% @recent_media_items.each do |media| %>
		<%= check_box_tag 'photo[]', media.id, false, :id => 'photo_'+media.id %>
		<% end %>
		</div>
		
		<p>Estas a un par de pasos para terminar! <% if @serv.id == 3 %>Eliga el color de fondo y siga instrucciones!<% end %></p>
				
		<%= hidden_field_tag "service_id", @serv.id, :class => "hidden" %>
		<%= hidden_field_tag "action_hook", "OK", :class => "hidden" %>

		<% if @serv.id == 3 %>
		<h2 class="subtitle">Elija posición del poster</h2>
		<p class="center">
			<span class="inlinespan"><%= radio_button_tag 'posterpos', "true", true %> Vertical</span>
			<span class="inlinespan"><%= radio_button_tag 'posterpos', "false", false %> Horizontal</span>
		</p>
		
		<h2 class="subtitle">Eliga color de fondo para el poster</h2>
		<p class="center">
			<span class="inlinespan"><%= radio_button_tag 'posterbg', '000000', true %> Fondo Negro</span>
			<span class="inlinespan"><%= radio_button_tag 'posterbg', 'ffffff', false %> Fondo Blanco</span>
		</p>
		<% end %>
		
		<p class="center"><%= submit_tag "Completar formulario", :id => "submit", :class => "disabled awesome", :disabled => true %></p>

		
	<% end %>
	<!--#instagramstream-->
			
	</section><!--#description-->
</section><!--#content-->