<br>
<h1>Profile of <%= @user.fname %></h1>
<% if !session[:avatar].blank? %>
	<img src=<%= session[:avatar] %> alt = "avatar">
<% end %>
<p>Direction: <%= "#{@user.region}, #{@user.city}, #{@user.comuna}, #{@user.direction}" %></p>

<b>Order History</b>
<% i = 0 %>
<% @orders.each do |o| %>
	<% i += 1 %>
	<div>
		<p><%= i %>. | <%= o.direction %> | <%= Service.find(o.service_id).sname %> | <%= o.date.strftime("%d.%m.%Y") %> | <%= o.status %></p>
	</div>
	<hr>
<% end %>