/*
Skin Name:Plastic Theme
Skin URI: http://www.medialoot.com
Skin Type: fixed
Description: A white and green skin with featured banner for the Nivo Slider.
Version: 1.0
Author: Tony Thomas
Author URI: http://www.medialoot.com
*/

.theme-plastic.slider-wrapper {
	position: relative;
	width: 960px;
	height: 444px;
	display: block;
	margin: 0 auto;
	padding: 0;
	background: url('shadow.png') bottom center no-repeat;
}

.theme-plastic .nivoSlider {
	position: relative;
	border: 5px solid #fff;
	background:#fff url(loading.gif) no-repeat 50% 50%;
	-webkit-box-shadow: 0px 4px 7px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 4px 7px rgba(0,0,0,0.20);
	box-shadow: 0px 4px 7px rgba(0,0,0,0.20);
}
.theme-plastic .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-plastic .nivoSlider a {
	border:0;
	display:block;
}

.theme-plastic .ribbon {
	position: absolute;
	z-index: 500;
	left: -11px;
	top: -10px;
	width: 182px;
	height: 176px;
	background: url('ribbon.png') no-repeat;
}
.theme-plastic .nivo-controlNav {
	position:absolute;
	left:50%;
	bottom:0px;
    margin-left:-40px; /* Tweak this to center bullets */
    background: #fff;
    background: rgba(255,255,255,0.65);
    border: 1px solid #fff;
    padding: 5px 5px 0px 5px;
    z-index: 100;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.theme-plastic .nivo-controlNav a {
	display:block;
	width:20px;
	height:20px;
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.theme-plastic .nivo-controlNav a.active {
	background-position:-20px 0px;
}

.theme-plastic .nivo-directionNav a {
	display:block;
	width:44px;
	height:44px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
.theme-plastic a.nivo-nextNav {
	background-position:-44px 0;
	right:15px;
	top: 44%;
}
.theme-plastic a.nivo-prevNav {
	left:15px;
	top: 44%;
}

.theme-plastic .nivo-caption {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.theme-plastic .nivo-caption a {
    color:#fff;
}
.theme-plastic .nivo-caption a:hover {
    color:#fff;
}