<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <title>Gracias por su compra en InstaPrinter.cl</title>
  </head>
  <body>
  <h3>Estimado cliente, <%= @user.fname.capitalize %></h3>

  <p>Le informamos que se ha realizado su compra que vamos a despacharle durante tres días hábiles. Ud. recibirá sus cositas lindas por medio de despacho que Ud. ha elegido.</p>
  
  <p>El número de su pedido es: <strong><%= @order %></strong></p>

  <p>Cualquier duda contáctenos <a href="mailto:mail@instaprinter.cl">mail@instaprinter.cl</a></p>

  <p>Le agradecemos por su compra en InstaPrinter.cl.</p>


  <p>Atte, <br/>
  InstaPrinter<br/>
  <br/>
  <a href="http://instaprinter.cl">www.instaprinter.cl</a><br/>
  <a href="mailto:mail@instaprinter.cl">mail@instaprinter.cl</a>
  </p>
  </body>
</html>