/*
Skin Name: Impressed Theme
Skin URI: http://www.medialoot.com
Skin Type: flexible
Description: A framed skin for the Nivo Slider.
Version: 1.0
Author: Tony Thomas
Author URI: http://www.medialoot.com
*/

.theme-impressed.slider-wrapper {
	position: relative;
	width: 920px; /*Adjust to match the width of your images*/
	display: block;
	margin: 0 auto;
	padding: 2px 2px 40px 2px;
	background: rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5), 0px 1px 0px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5), 0px 1px 0px rgba(255, 255, 255, 0.5);
	box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5), 0px 1px 0px rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.theme-impressed .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
}
.theme-impressed .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-impressed .nivoSlider a {
	border:0;
	display:block;
}

.theme-impressed .nivo-controlNav {
	position:absolute;
	left:50%;
	bottom:-30px;
    margin-left:-40px; /* Tweak this to center bullets */
}
.theme-impressed .nivo-controlNav a {
	display:block;
	width:20px;
	height:20px;
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.theme-impressed .nivo-controlNav a.active {
	background-position:-20px 0px;
}

.theme-impressed .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
.theme-impressed a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
	top: 45%;
}
.theme-impressed a.nivo-prevNav {
	left:15px;
	top: 45%;
}

.theme-impressed .nivo-caption {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.theme-impressed .nivo-caption a {
    color:#fff;
}
.theme-impressed .nivo-caption a:hover {
    color:#fff;
}