@charset "utf-8";
/*
Theme Name: Instaprinter
Version: 0.9
Author: Lipresso Networks
Theme URI: http://www.instaprinter.cl/
Author URI: http://www.lipresso.com/
*/
@import "reset.css";

/* --------------------------------------- HTML CANVAS DESGIN */
article, aside, canvas, details, caption, figure, footer, 
header, hgroup, menu, nav, section, summary, time { 
    display:block;
}

html, body {
	height:100%;
	margin:0px;
	padding:0px;
}

body { 
	font-family: 62.5% 'Helvetica', 'Lucida-Sans', Sans, Serif;
	font-size: 1.2em;
	color: #3a372e;	
	background: url("/images/bg.png") repeat;
}

.beta {
	width: 90px;
	height: 90px;
	position: fixed;
	z-index: 999;
	top: 30px;
	left: 15px;
}

.onmaintence {
	width: 100%;
	padding: 20px;
	text-align: center;
	z-index: 998;
	
	position: fixed;
	top: 50px;
	left: 0;
	background-color: #FFBABA;
	color: #D8000C;	
	font-weight: bold;
	font-size: 0.9em;
	border: 1px #D8000C solid;
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; /* IE 8 */  
	filter: alpha(opacity=90); /* Dinosorius IE 5-7 */  
	-moz-opacity: 0.9; /* Netscape, Firefox */  
	-khtml-opacity: 0.9; /* Safari 1.x */  
	opacity: 0.9;	/* Good browsers */	
}

.onmaintence p {
	width: 800px;
	margin: 5px 0;
	margin-left: 18%;
}



/* --------------------------------------- TOP WRAPPER & HEADER */
.topwrapper {
	position: fixed;
	top: 0;
	width: 100%;
	height: 10px;
	background: url("/images/bg-top.png") repeat-x bottom;
	z-index: 999;
}

nav {
	width: 960px;
	margin: 0 auto;
	margin-top: 15px;
	font-size: 0.8em;
	text-align: right;
}

nav a { padding: 0 3px; }
nav a:hover { text-decoration: underline; }
nav a img {
	position: relative;
	top: 2px;
	margin-right: 5px;
}

nav strong { color: #333; }

header {
	width: 1030px;
	margin: 0 auto;
	text-align: center;
	padding: 10px 0 10px 0;
	z-index: 999;
}

header h1 {
	font-size: 2.8em;
	text-transform: uppercase;
	margin: 40px 0 0 0;
}

header h1, header h1 a, header h1 a:visited {
	color: #3a372e;
	text-decoration: none;
}

header h1 a:hover { color: #36393D; }

header h2 {
	margin-top: 10px;
	font-size: 2.5em;
}

/* --------------------------------------- USER PROFILE */
#logout {
	position: fixed;
	width: 150px;
	height: 80px;
	top: 50px;
	right: 10px;
	font-size: 0.9em;
}

img.loginbutton {
	display: inline;
	margin: 15px 0;
	border: none;
}

/* --------------------------------------- BREADCRUMPS */
section#breadcrumbs {
	width: 100%;
	height: 20px;
	margin-bottom: 30px;
	font-size: 0.7em;
	color: #8F8F8F;
	text-align: center;
	font-style: italic;
}

section#breadcrumbs a, section#breadcrumbs a:visited {
	color: #8F8F8F;
	text-decoration: underline;
}

section#breadcrumbs a:hover { text-decoration: none; }
section#breadcrumbs.fixed {
  position: fixed;
  top: 0;	
}

/* --------------------------------------- MAIN CONTENT */
section#content, footer {
	width: 1030px;	
	margin: 0 auto;
}

section#content h1 {
	font-family: 'Crimson Text', serif;
	font-size: 2em;
	margin-bottom: 20px;	
}

.homepage, .widecolumn { padding-top: 50px; }
.homepage { width: 100%; }

.widecolumn {
	width: 720px;
	margin: 0 auto;
	text-align: center;
}

section.widecolumn h2, section.widecolumn p { margin-bottom: 20px; }
section.widecolumn h2 { font-size: 1.8em; margin-top: 15px; }
h2.subtitle { font-size: 2em; }
.inlinespan { margin: 0 10px; display: inline; }

section#about { width: 350px; border-top: 10px #2e2e2e solid;	padding-top: 20px; }
section#service { width: 400px; border-top: 5px #2e2e2e solid; padding-top: 25px; }
section#social { width: 250px; border-top: 2px #2e2e2e solid; padding-top: 28px; }
section#service, section#social { margin-left: 15px; }

section.aboutbox { display: inline; float: left; margin-top: 50px; }
section.aboutbox { font-size: 0.8em; line-height: 1.4em; }
section.aboutbox h2 { font-size: 1.5em; }
section.aboutbox h2, section.aboutbox p { margin-bottom: 15px; }
section.aboutbox p { padding: 0 5px; }

article.product {	display: inline-block; }
article.step { display: block; float: left; }
article.product, article.step {
	width: 280px;
	padding: 20px 0;	
	background-color: #fff;
	border-radius: 15px;
	-moz-border-radius: 15px;
  -khtml-border-radius: 15px;
  -webkit-border-radius: 15px;
	z-index: 90; /* the stack order: displayed under ribbon rectangle (100) */	
	text-align: center;
}

article.product {
	margin: 0 26px;
	font-size: 0.8em;	
	cursor: pointer;	
}

article.step { font-size: 0.9em; }

article h2 { 
	font-size: 2em; 
	margin-top: 5px;
	margin-bottom: 20px;
	text-align: center;
}

article div, article p { margin-bottom:10px; }

article.step p {
	display: block;
	width: 200px;
	margin: 0 auto;
	margin-bottom: 20px;
}

article#id-1 {
	box-shadow: 0 0 5px 5px #fe3759;
	-moz-box-shadow: 0 0 5px 5px #fe3759;
  -khtml-box-shadow: 0 0 5px 5px #fe3759;
  -webkit-box-shadow: 0 0 5px 5px #fe3759;
}

article#id-2 {
	box-shadow: 0 0 5px 5px #ffce3c;
	-moz-box-shadow: 0 0 5px 5px #ffce3c;
  -khtml-box-shadow: 0 0 5px 5px #ffce3c;
  -webkit-box-shadow: 0 0 5px 5px #ffce3c;
}

article#id-3 {	
	box-shadow: 0 0 5px 5px #6dca97;
	-moz-box-shadow: 0 0 5px 5px #6dca97;
  -khtml-box-shadow: 0 0 5px 5px #6dca97;
  -webkit-box-shadow: 0 0 5px 5px #6dca97;
}

article#id-4 {	
	box-shadow: 0 0 5px 5px #408fff;
	-moz-box-shadow: 0 0 5px 5px #408fff;
  -khtml-box-shadow: 0 0 5px 5px #408fff;
  -webkit-box-shadow: 0 0 5px 5px #408fff;
}

/* --------------------------------------- SIDEBAR */
section#sidebar, section#description { float: left; }

section#sidebar {
	width: 320px;
	position: absolute;
}

section#sidebar.fixed {
  position: fixed;
  top: 100px;	
}

section#description {
	width: 710px;
	position: relative;
	left: 340px;
}

section#description {
	font-size: 0.9em;
	line-height: 1.5em;
}

section#description p, section#description div { margin-bottom: 15px; }

.subtitle {
	text-align: center;
	font-size: 1.8em;
	margin: 15px 0 10px 0;
}

/* --------------------------------------- LINKS */
a, a:visited { 
	color: #413930;
	text-decoration: none;
} 
a:hover { color: #36393D; text-decoration: none; }

a.navlink {
	font-weight: bold;
	color: #D01F3C;
}

a:hover.navlink { color: #D15600; }

/* --------------------------------------- DATA IMAGES */
.sampledata { float: left; }

.sampledata a {
	display: block;
	float: left;
	margin-right: 10px;
}

.sampledata img, .sampledata a img { border: 2px #d5d5d5 solid; }
.sampledata a:hover img { border: 2px #fff solid; }

#instagramstream img {
	display: block;
	float: left;
	margin: 0 15px 10px 0;	
	border: 1px #ccc solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -khtml-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);	
	padding: 5px;	
	cursor: pointer;
}

div.imagebox {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 0 10px 10px 10px;
	border: none;
}

div.imagebox span, .overlay {
	z-index: 299;
	display: block;
	position: relative;
	top: 10px; left: 5px; 
	width: 100px;
	height: 100px;
	background: url("/images/ok.png") no-repeat;
	border: none;
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */  
	filter: alpha(opacity=0); /* Dinosorius IE 5-7 */  
	-moz-opacity: 0.0; /* Netscape, Firefox */  
	-khtml-opacity: 0.0; /* Safari 1.x */  
	opacity: 0.0;	/* Good browsers */
}

div.imagebox img {
	z-index: 300;
	position: absolute;
	display: block;
	cursor: pointer;
}

img.selected { border: 1px #ccc solid; }
input.awesome { border: none; }

/* --------------------------------------- DRAG MATRIX */
.constructor { margin-top: 50px; }

.scroll-pane {
	height: 500px;
	overflow: auto;
	z-index: 201;	
}

#instacontainer, #matrixholder {
	float: left;
	display: block;
	margin-top: 40px;	
}

#instacontainer { 
	width: 500px; 
	height: 500px;
}

#matrixholder {
	width: 510px;
	margin-left: 20px;	
}

#matrix {
	display: block;
	width: 510px;
	height: 510px;
	margin: 0 auto;
	padding: 10px;
	background-color: #fff;
	border: 1px #ccc solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -khtml-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);	
}

.dropbox {
	z-index: 250;	
	display: block;
	float: left;
	padding: 5px;
	width: 135px;
	height: 135px;
	margin: 10px;
	border: 1px #555 dashed;
	border-radius: 5px;
	-moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.hovered { background-color: #eee; }
.ui-hover { background-color: #fff; }

/* --------------------------------------- ORDER FORM */
input[type=image] {
	display: block;
	float: left;
	margin: 0 10px 10px 0;
}


form#orderstream {
	display: block;
	width: 600px;
	background-color: #fff;
	border: 1px #ccc solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -khtml-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);	
}

form#orderstream h2 {
	margin: 20px 0 5px 20px;
	font-size: 1.4em;
	color: #555;
}

form#orderstream p {
	margin-top: 10px;
	padding: 0 20px;
}
form#orderstream div.formbox {
	width: 420px;
	padding: 10px 20px;
}

div.formbox2 {
	width: 250px;
	padding: 10px 20px;
	float: left;
}

div.formbox2 label, div.formbox2 input { width: 200px !important; }
form#orderstream label, form#orderstream input { display: block; }

form#orderstream label {
	width: 90%;
	color: #696969;
	font-size: 0.8em;
	font-style: italic;
}

form#orderstream input {
	height: 18px;
	padding: 10px 20px;	
}

form#orderstream select {
	height: 40px;
	padding: 10px 18px;	
}

form#orderstream input, form#orderstream select {
	width: 90%;	
	color: #BFBFBF;
	font-size: 0.9em;
	font-style: normal;

	border: 1px #ccc solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;

  -moz-box-shadow:    inset 0 0 10px #BFBFBF;
  -webkit-box-shadow: inset 0 0 10px #BFBFBF;
  box-shadow:         inset 0 0 10px #BFBFBF;

}

form#orderstream select { font-size: 1em !important; }
form#orderstream select:focus { color: #6BBA70; }

/* http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css */
form#orderstream input::-webkit-input-placeholder  { color:#BFBFBF; font-style: normal; }

form#orderstream input:focus { color: #6BBA70; }

form#orderstream a, form#orderstream a:visited {
	color: #6BBA70;
	text-decoration: none;
}

form#orderstream a:hover { text-decoration: underline; }

.formseparator {
	width: 100%;
	height: 1px;
	border-bottom: 1px #ccc dashed;
}


form#orderstream input.awesome { 
	width: auto;
	font-size: 0.7em;
	height: auto; 
	padding: 5px 8px 3px 8px;
	margin-left: 20px;
}

form#orderstream.hidden { display: none; }

div#ErrorHandler {
	display: none;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	top: 7px;
	margin: 0 auto;

	padding: 20px;
	background-color: #FFBABA;
	color: #D8000C;

	border: 1px #D8000C solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;

  -moz-box-shadow:    inset 0 0 10px #BFBFBF;
  -webkit-box-shadow: inset 0 0 10px #BFBFBF;
  box-shadow:         inset 0 0 10px #BFBFBF;	
	text-align: center;
	z-index: 980;
}

form#orderstream input.error, form#orderstream input.error:focus { 
	border: 1px dashed #D01F3C; 
  -moz-box-shadow:    inset 0 0 10px #D01F3C;
  -webkit-box-shadow: inset 0 0 10px #D01F3C;
  box-shadow:         inset 0 0 10px #D01F3C;	
}

.promocodeStatus { font-size: 0.8em; }

.help { font-size: 0.8em; color: #A6A6A6; }
.help a { text-decoration: underline; }
.help a:hover { color: #222; }

#paymethod { width: 840px; 	margin: 0 auto; }

.commontypo { font-size: 0.9em; }

.commontypo a, .commontypo a:visited { color: #6BBA70;  text-decoration: underline; font-weight: bold; }
.commontypo a:hover { text-decoration: none; }

.anounce { 
	width: 960px;
	margin-top: 40px;
	line-height: 1.6em;
	text-align: center;
}

.anounce p span {
	font-size: 1.2em;
}

table {
	margin: 0 auto;
	font-size: 0.8em;
	margin-bottom: 40px;
	border-right: 1px #333 solid;
}

table tr td {
	border-left: 1px #333 solid;
	border-bottom: 1px #333 solid;
}

table tr td {
	padding: 5px 7px;
	text-align: center;
	vertical-align: middle;
}

table thead, table tfoot {
	background-color: #333;
	color: #fff;
}

table tr.tr_address {
	color: #fff;
	background-color: #555;
}

table tr td span { float: right; }

.tpagar_aleft { text-align: left; }
.tpagar_aright { text-align: right; }

#paymethod form {
	display: inline-block;
	text-align: center;
	margin: 10px 15px;
}

/* --------------------------------------- OTHER FORMS */
form#loginadmin input, form#loginadmin select {
	width: 200px;
	padding: 5px 10px;
	margin-bottom: 5px;
	text-align: center;
}
form#loginadmin label { margin-bottom: 15px; }

form#loginadmin input[type=submit] {
	width: auto;
	padding: 5px;
}

.admerros {
	margin-bottom: 10px;
}

section.admin { font-size: 0.8em; }

#admincontent {
	width: 960px;
	margin: 0 auto;
}

#admincontent h3, #admincontent p { margin-bottom: 15px; }
#admincontent h3 { font-size: 1.4em; }

/* --------------------------------------- BUTTONS */
.awesome, .awesome:visited, form#orderstream input.awesome {
	font-family: Arial, Helvetica, Helvetica Neue, Verdana, sans-serif;	
	background-color: #222; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;

	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	box-shadow:       inset 0 1px 3px rgba(0,0,0,0.5);

	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

.awesome:hover { background-color: #111; color: #fff; }
.awesome:active { top: 1px; }
.small.awesome, .small.awesome:visited { font-size: 11px; }
.awesome, .awesome:visited, .medium.awesome, .medium.awesome:visited { font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited { font-size: 14px; padding: 8px 14px 9px; }
.green.awesome, .green.awesome:visited { background-color: #91bd09; }
.green.awesome:hover { background-color: #749a02; }
.blue.awesome, .blue.awesome:visited { background-color: #2daebf; }
.blue.awesome:hover	{ background-color: #007d9a; }
.red.awesome, .red.awesome:visited { background-color: #e33100; }
.red.awesome:hover { background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited { background-color: #a9014b; }
.magenta.awesome:hover { background-color: #630030; }
.orange.awesome, .orange.awesome:visited { background-color: #ff5c00; }
.orange.awesome:hover	{ background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited { background-color: #ffb515; }
.yellow.awesome:hover	{ background-color: #fc9200; }
.disabled.awesome, .disabled.awesome:visited { background-color: #ccc; color: #333; }


a.selectall, a.deselectall { margin: 0 10px 25px 10px; }
a.selectall, a.deselectall, a:hover.selectall, a:hover.deselectall { text-decoration: none; }
a.selectall, a:visited.selectall { color: #D15600; }
a.deselectall, a:visited.deselectall { color: #73880A; }

.hoverbutton { margin: 0 10px; }
.fb-like { display: block;margin: 0 auto; margin-top: 10px; }

/* --------------------------------------- ORDER LOADER */
#submitHandler {
	padding: 20px 30px;
	font-size: 0.9em;
	text-align: center;
	line-height: 1.4em;
}

#submitHandler h3 { font-size: 1.8em; }
#submitHandler img { border: none; }

#submitHandler p { margin-top: 15px; }


/* --------------------------------------- FOOTER */
footer {
	margin-top: 30px;
	padding-bottom: 20px;
	height: 10px;
	text-align: center;
	font-size: 0.8em; 
}

footer a { text-decoration: none; }
footer a:hover { text-decoration: underline; }

/* --------------------------------------- HELPERS */
.center { text-align: center; }
.hidden { display: none; }
.clear { clear: both; }

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}