<table cellspacing="0" cellpadding="0" border="0" width="940">
	<thead>
	<tr>			
		<td width="20"></td>
		<td width="60">Username</td>
		<td width="60">Phone</td>
		<td width="80">Product</td>
		<td width="100">Status of order</td>
		<td width="80">Date of order</td>
		<td width="150">Address</td>
		<td width="100">Delivery</td>
		<td width="20">PDF</td>	
		<td width="150">Track Number</td>	
	</tr>			
	<thead>
	<tbody>
		

	<% @conditions.each do |o|%>
		<tr>
			<td><%= check_box o.id, "on", :id => "#{o.id}", :onblur => "javascript:collectOrders(this.id)" %></td>
			<td>
				<a title="Отправить сообщение пользователю" href="mailto:<%= o.user.email %>"><%= o.user.login %></a><br />
				<em><%= o.user.fname %></em>
				</td>
			<td><%= o.user.phone %></td>
			<td><%= o.service.sname %></td>
			<td><%= o.status %></td>
			<td><%= o.date.strftime("%d.%m.%Y") %></td>
			<td>
			<%= o.direction %>, <%= o.comuna %>, <%= o.city %>, <%= Regions.find_by_id(o.region).region %>
			</td>
			<td><%= o.delivery_type %></td>
			<td><a href="<%= o.pdfref %>"><img src="/images/pdfref.gif"></a></td>				
			<% if !o.tracknum.nil? && !o.tracknum.blank? %>
					<% oid = "#trackform#{o.id}" %>
					<td><%= form_tag "javascript:trackformdo('#{oid}')".html_safe, :id => "trackform#{o.id}" do %>
						<%= text_field_tag("tracknum", "#{o.tracknum}", :disabled => true, :id => "trackfield#{o.id}") %>
						<%= hidden_field_tag "oid", "#{o.id}" %>
						<%= submit_tag "OK", :id => "sb#{o.id}", :disabled => true, :class => "hidden" %>
						<% end %>	
					<a href="javascript:chtrack('<%= o.id %>')"><img src="/images/wand.gif" ></a>	
					</td>
				<% else %>
					<% oid = "#trackform#{o.id}" %>
					<% tfid = "#trackfield#{o.id}" %>
					<td>
						<%= form_tag "javascript:trackformdo('#{oid}')".html_safe, :id => "trackform#{o.id}" do %>
						<%= text_field_tag("tracknum", nil, :id => "trackfield#{o.id}") %>
						<%= hidden_field_tag "oid", "#{o.id}" %>
						<%= submit_tag "OK", :id => "sb#{o.id}", :class => "hidden" %>
						<% end %>
					</td>
				<% end %>
		</tr>
	<% end %>

	</tbody>
</table>

	<%= form_tag "javascript:delOrders()".html_safe, :id => "delform" do %>
		<% @conditions.each do |o| %>
			<%= hidden_field_tag "del[]", "", :id => "del#{o.id}" %> 
		<% end %>
	<% end %>

	<% if @conditions.size > 0 %>
	<p class="center">
		<%= link_to "Delete", "javascript:subdel()" %>
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<%= link_to "Check all", "javascript:selectAllOrders()", :id => "chlink" %>
	</p>
	<% end %>
