
<script type="text/javascript">
  $(document).ready(function(){
    $("#edadminform").validate({
    	debug: true,	
			onfocusout: false,
    	invalidHandler: function(form, validator) {
          var errors = validator.numberOfInvalids();
          if (errors) {
              //alert(validator.errorList[0].message);
							$('#ErrorHandler').html(validator.errorList[0].message);
							$('#ErrorHandler').animate({opacity: '0.8'}, 500);
							$('#ErrorHandler').slideDown("slow").delay(2000).slideUp("slow");
              validator.errorList[0].element.focus();
     	   }
    	},
    	rules: {
    		login: "required",
    		password: "required",
    		confirmation: {
    			equalTo: "#password"}
    	},
    	messages: {
    		login: "Input your login",
    		password: "Tape your password",
    		confirmation: "Invalid confirmation"
    	},
    	errorPlacement: function(error, element) {
		// Override error placement to not show error messages beside elements //
		},
			submitHandler: function(form) { 
				form.submit();
			}
		});	
    });
  });
</script>

<header>		
	<h1><span><%= @stat %> </span>ADMIN</h1>
</header>
<div id="ErrorHandler"></div>
<%= render 'layouts/adlogout' %>

<section id="admincontent" class="commontypo clearfix">
	<section id="breadcrumbs" class="generic">
		<%= render 'layouts/abreadcrumbs' %>
	</section><!--#breadcrumps-->
	
	<h3 class="center"></h3>
	
	<%= form_tag url_for(:controller => "admin", :action => "createadmin"), :method => 'post', :id => 'edadminform' do %>	
	<table cellspacing="0" cellpadding="0" border="0" width="400">
		<thead>
			<tr>
				<td colspan="2">
					Admin management
				</td>
			</tr>
		</thead>
		<tbody>
		<tr>			
			<td width="200"><%= label_tag "Login:" %></td>
			<td width="200"><%= text_field_tag "login", @login %></td>
		</tr>
		<tr>			
			<td width="200"><%= label_tag "Password:" %></td>
			<td width="200"><%= password_field_tag "password", @password, :id => "password" %></td>
		</tr>
		<tr>			
			<td width="200"><%= label_tag "Confirm password:" %></td>
			<td width="200"><%= password_field_tag "confirmation", @password %></td>
		</tr>
		</tbody>
		<tfoot>
		<tr>			
			<td colspan="2">
				<%= hidden_field_tag "aid", params[:aid] %>
				<%= submit_tag @submit %>				
			</td>
		</tr>
		</tfoot>		
		</table>
		<% end %>		
</section>

<script type="text/javascript">
  $(document).ready(function(){
    $("#edadminform").validate({
    		debug: true,	
			onfocusout: false,
    	invalidHandler: function(form, validator) {
          var errors = validator.numberOfInvalids();
          if (errors) {
              //alert(validator.errorList[0].message);
							$('#ErrorHandler').html(validator.errorList[0].message);
							$('#ErrorHandler').animate({opacity: '0.8'}, 500);
							$('#ErrorHandler').slideDown("slow").delay(2000).slideUp("slow");
              validator.errorList[0].element.focus();
     	   }
    	},
    	rules: {
    		login: "required",
    		password: "required",
    		confirmation: {
    			equalTo: "#password"}
    	},
    	messages: {
    		login: "Input your login",
    		password: "Tape your password",
    		confirmation: "Invalid confirmation"
    	},
    	errorPlacement: function(error, element) {
		// Override error placement to not show error messages beside elements //
		},
		submitHandler: function(form) { 
			form.submit();
		}		
    });
  });
</script>