<header>		
	<h1><span>INST</span>ADMINKA</h1>
</header>

<%= render 'layouts/adlogout' %>

<section id="admincontent" class="commontypo clearfix">
	
	<section id="conditions">
		<p class="center"><%= link_to "Admins", :action => "showadmins" %></p>
		<p class="center"><%= link_to "Promocodes", promocodes_path %></p>


		<h3 class="center">Define conditions</h3>	

		<%= form_tag("javascript:adminformdo()".html_safe, :id => "adminform") do %>		
		<table cellspacing="0" cellpadding="0" border="0" width="940">
			<thead>
			<tr>				
				<td width="220">Date From</td>
				<td width="220">Date To</td>
				<td width="100">Product Type</td>
				<td width="100">Order Status</td>
				<td width="100">Users</td>
				<td width="100">Actions</td>
			</tr>				
			<thead>
			<tbody>
			<tr>
				<td><%= date_select "start", "post", :order => [:day, :month, :year], 
				:default => 1.month.ago %></td>
				<td><%= date_select "end", "post", :order => [:day, :month, :year] %></td>
				<td><%= select("post", "stype", Service.find(:all).collect {|s| [ s.sname] }, :prompt => "All") %></td>	
				<td><%= select_tag "status", options_for_select(['Recibido', 'Generado', 'Pagado', 'Enviado'], 'Generado'), 
				:prompt => "All" %></td>
				<td><%= select("post", "user", User.find(:all).collect {|u| [ u.login] }, :prompt => "All") %></td>
				<td><%= submit_tag "Apply conditions" %></td>
			</tr>
			</tdoby>
			</table>

			<%= hidden_field_tag "ischecked", "Check all", :id => "chall" %>
		<% end %>

		<p class="center"></p>

	</section><!--#conditions-->

	<div id="tabledata">
		<script type="text/javascript">$('#adminform').submit();</script>
	</div>
</section>