<header>		
	<h1>Administration Login</h1>
</header>


<section id="content" class="widecolumn admin clearfix">
	
<%= @em %>

<%= form_tag({:controller => "admin", :action => "check"}, :method => "post", :id => "loginadmin") do%>
	<%= label_tag "Login" %><br>
	<%= text_field_tag "login" %><br>
	<%= label_tag "Password" %><br>
	<%= password_field_tag "password" %><br>
	<%= submit_tag "Login" %>
<% end %>

</section><!--#content-->