<header>		
	<h1>CREATE / EDIT ADMINS</h1>
</header>

<%= render 'layouts/adlogout' %>

<section id="admincontent" class="commontypo clearfix">
	<section id="breadcrumbs" class="generic">
		<%= render 'layouts/abreadcrumbs' %>
	</section><!--#breadcrumps-->
	
	<h3 class="center"><%= link_to "New Admin", :action => "editadmin" %></h3>
	
	<table cellspacing="0" cellpadding="0" border="0" width="500">
		<thead>
		<tr>			
			<td width="200">Admin</td>
			<td width="200">Email</td>
			<td width="80">Actions</td>
		</tr>	
		<thead>
		<tbody>
		<% @admins.each do |a| %>			
		<tr>
			<td><%= link_to "#{a.login}", :action => "editadmin", :aid => "#{a.id}" %></td>
			<td>###</td>
			<td>###</td>
		</tr>
		<% end %>
		</tdoby>
		</table>
</section>