/*
Skin Name: Shelved Theme
Skin URI: http://www.medialoot.com
Skin Type: fixed
Description: A glossy white shelf skin for the Nivo Slider.
Version: 1.0
Author: Tony Thomas
Author URI: http://www.medialoot.com
*/

.theme-shelved.slider-wrapper {
	position: relative;
	width: 1042px;
	height: 452px;
	display: block;
	margin: 0 auto;
	padding: 0;
	background: url('shelf.png') bottom center no-repeat;
}

.theme-shelved .nivoSlider {
	position: relative;
	border: 0;
	background:#fff url(loading.gif) no-repeat 50% 50%;

}
.theme-shelved .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-shelved .nivoSlider a {
	border:0;
	display:block;
}

.theme-shelved .nivo-controlNav {
	position:absolute;
	left:50%;
	bottom: -32px;
    margin-left:-60px; /* Tweak this to center bullets */
    padding: 5px 5px 0px 5px;
    z-index: 100;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.theme-shelved .nivo-controlNav a {
	display:block;
	width:20px;
	height:20px;
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.theme-shelved .nivo-controlNav a.active {
	background-position:-20px 0px;
}

.theme-shelved .nivo-directionNav a {
	display:block;
	width:44px;
	height:44px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
.theme-shelved a.nivo-nextNav {
	background-position:-44px 0;
	right:15px;
	top: 44%;
}
.theme-shelved a.nivo-prevNav {
	left:15px;
	top: 44%;
}

.theme-shelved .nivo-caption {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.theme-shelved .nivo-caption a {
    color:#fff;
}
.theme-shelved .nivo-caption a:hover {
    color:#fff;
}