<header>		
	<h1>Confirmar Compra</h1>
</header>

<section id="content" class="clearfix">	
	<section id="breadcrumbs" class="generic">
	<%= render 'layouts/breadcrumbs' %>
	</section><!--#breadcrumps-->

	<section id="sidebar">		
		<article id="id-<%= session[:s] %>" class="step">
			<h2>Completar formulario</h2>

			<p><em><%= @user.capitalize %></em>, por favor, completa formulario con los datos de envio y tus contactos. </p> 

			<p>Cuando estes listo apreta boton debajo del formulario para proceder al ultimo paso!</p>
		
		</article>
	</section><!--#sidebar-->
	
	<section id="description">
	<!--  Форма регистрации заказа -->
	<%= form_tag({:controller => "orders", :action => 'create'}, :method => "post", :id => "orderstream", :class => "clearfix") do %>

	<% if (@userdata[:fname].length >= 1 ) %>
	<div class="welcomebackuser">
	<h2>Bienvenido de vuelta!</h2>
	
	<p>Nos alegra verte de nuevo solicitando otros productos. Nos acordamos de ti. Revisa tus datos y confirma la compra.</p>
	</div><!--.welcomebackuser-->
			<div class="formseparator"></div>
	<% end %>

	<h2>Opciones de compra</h2>

	<div class="formbox2 clearfix">
		<%= label_tag :quantity, 'Aquí podes solicitar mas copias de tu pedido actual. Todas las copias vamos a enviar a la dirección indicada mas abajo:'.html_safe %>
	</div>
	<div class="formbox2 clearfix">
		<%= text_field_tag("promocode", nil, :placeholder => 'Código de promoción', :value => "") %>
		<span class="promocodeStatus">&nbsp;</span>
	</div>
	
	<div class="formbox2 clearfix">
		<%= text_field_tag("quantity", nil, :placeholder => '', :value => "1") %>
	</div>

	<div class="clear"></div>

		<div class="formseparator"></div>
	
	<h2>Datos del envio</h2>

		<div class="formbox clearfix">
			<%= label_tag :fname, '<strong>Nombre completo</strong>. A este nombre va a llegar el pedido:'.html_safe %>
			<%= text_field_tag("fname", nil, :placeholder => 'ej. Juan Antonio Lopez Garcia', :value => @userdata[:fname]) %>
		</div>

		<div class="formbox clearfix">
			<%= label_tag :dir, '<strong>Dirección</strong>. Donde enviamos tu pedido:'.html_safe %>
			<%= text_field_tag("dir", nil, :placeholder => 'ej. Av.Providencia 1234, dto. 13', :value => @userdata[:dir]) %>
		</div>
	
		<div class="formbox2">
			<%= label_tag :comuna, '<strong>Comuna</strong>. En que comuna:'.html_safe %>
			<%= text_field_tag("comuna", nil, :placeholder => 'ej. Providencia', :value => @userdata[:comuna]) %>
		</div>
		
		<div class="formbox2 clearfix">
			<%= label_tag :city, '<strong>Ciudad</strong>. En que ciudad:'.html_safe %>
			<%= text_field_tag("city", nil, :placeholder => 'ej. Santiago', :value => @userdata[:city]) %>
		</div>	

		<div class="formbox2 clearfix">
			<%= label_tag :region, '<strong>Region</strong>. Selecciona una region:'.html_safe %>
			<%= select_tag("region", options_from_collection_for_select(@regions, :id, :region, @selected_region)) %>
		</div>
	
			<div class="clear"></div>

		<div class="formseparator"></div>

		<h2>Datos de contacto</h2>

		<div class="formbox clearfix">
			<%= label_tag :email, '<strong>Email</strong>. Tu email para ver el tracking del pedido:'.html_safe %>
			<%= text_field_tag("email", nil, :placeholder => 'ej. juan.antonio@instaprint.cl', :value => @userdata[:email]) %>
		</div>

		<div class="formbox2 clearfix">
			<%= label_tag :tel, '<strong>Telefono</strong>. Si pasa algo te llamaremos a este número:'.html_safe %>
			<%= text_field_tag("tel", nil, :placeholder => 'ej. +569 1234 5678', :value => @userdata[:phone]) %>
		</div>
	
		<div class="formbox2 clearfix">
			<%= label_tag :face, '<strong>Opcional</strong>. Si colocas tu nick en Twitter podemos twittearte:'.html_safe %>
			<%= text_field_tag("twit", nil, :placeholder => 'ej. juanantonio', :value => @userdata[:twit]) %>
		</div>	

			<div class="clear"></div>

		<div class="formbox clearfix">
			<%= label_tag :face, '<strong>Opcional</strong>. Coloca link a tu Facebook:'.html_safe %>
			<%= text_field_tag("face", nil, :placeholder => 'ej. http://www.facebook.com/juan.antonio', :value => @userdata[:face]) %>
		</div>
	
		<div class="hidden">
		<% params[:photo].each do |media| %>
			<%= hidden_field_tag "photos[]", media, :class => "hidden", :id => media %>
		<% end %>

		<% if @serv.id == 3 %>
		<%= hidden_field_tag "posterpos", params[:posterpos], :id => "posterpos" %>
		<%= hidden_field_tag "posterbg", params[:posterbg], :id => "posterbg" %>
		<% end %>

		<%# if @serv.id == 4 %>
		<%#= hidden_field_tag "tshirtsize", params[:tshirtsize], :id => "tshirtsize" %>
		<%#= hidden_field_tag "tshirtcolor", params[:tshirtcolor], :id => "tshirtcolor" %>
		<%# end %>
		</div>
		
		<%= hidden_field_tag "pcid_valid", "0", :id => "pcid_valid" %>
	
		<p class="center">
			<%= submit_tag("Confirmar compra", :class => "large awesome") %>
			</p>
	<% end %>

	<div id="submitHandler" class="hidden">
		<h3 class="tagline">Estamos procesando tu pedido</h3>
		<p><img src="/images/preloader.gif" width="64" height="64" alt="Generando pedido" /></p>
		
		<p><%= @user.capitalize %>, estamos procesando tu pedido. Se puede demorar un poco. Por lo tanto no cierra esta ventana.</p>
		
		<p>En cuando el pedido este listo te redirrecionamos automaticamente en la pagina de pago.</p>
		
		<p>Muchas gracias por usar nuestro servicio!</p>
	</div>
	</section><!--#description-->
</section><!--#content-->

<div id="ErrorHandler"></div>