<header>		
	<h1><%= link_to "<span>INSTA</span>PRINTER".html_safe, root_path %></h1>
</header>

<section id="content" class="widecolumn clearfix">
	<section id="breadcrumbs" class="generic">

	</section><!--#breadcrumps-->

	<h2>Compra exitosa!</h2>

	<p>Gracias por tu compra. Tu pedido fue encargado y nuestros especialistas ya estan trabajando en esto.</p>

	<p>Encuentranos en redes sociales:</p>

	<p><a class="hoverbutton" href="http://www.facebook.com/pages/Instaprinter/437186379632095"><img src="/images/facebook.png" alt="Instaprinter en Facebook" /></a> <a class="hoverbutton" href="http://www.twitter.com/instaprinter"><img src="/images/twitter.png" alt="Twitter Instaprinter" /></a></p>

	<div class="fb-like" data-href="http://www.facebook.com/pages/Instaprinter/437186379632095" data-send="false" data-width="250" data-show-faces="false" data-font="lucida grande"></div>

	<div class="clear"></div>	
</section><!--#content-->