<header>		
	<h1>Carro de compras</h1>
</header>

<section id="content" class="widecolumn clearfix">
	
	<section id="breadcrumbs" class="generic">
		<%= render 'layouts/breadcrumbs' %>
	</section><!--#breadcrumps-->
	
	<div id="paymethod" class="commontypo">
				
	<p>Esto es tu carro de compras. Aquí puedes ver tus pedidos actuales. Podes seleccionar y pagarlos por separado o juntos.</p>
	
	<p>Si deseas hacer otro pedido antes de pagar haga <a href="<%= root_path %>">click aquí</a></p>
	
	<div id="ErrorHandler" class="hidden stop"></div>

	<form name="beforePaymentSubmit" id="beforePaymentSubmit" action="#">
	<table id="basket" cellpadding="0" cellspacing="0" width="820" align="center">
	<thead>
		<tr>
			<td width="580" colspan="3">Detalles del pedido y dirección de entrega</td>
			<td width="240" colspan="4">Cantidad, descuento, precio y tipo de delivery</td>
		</tr>
	</thead>

		<% 
			i = 1
			sum = 0 # sum total of orders for each direction
			totalsum = 0 # sum 
			delivery = 0 # total for delivery
		%>
		<% @mas.each do |m| %>

	<tbody id="tbody<%= i %>">		
		<tr class="tr_address">
			<td colspan="3" class="tpagar_aleft">
				<%= m.first.direction %>, <%= m.first.comuna %>, <%= m.first.city %>, <%= Regions.find_by_id(m.first.region).region %>
			</td>
			<td colspan="4">
				<select name="delivery_m<%= i %>" class="delivery" id="delivery_m<%= i %>" >					
					<% if Regions.find_by_id(m.first.region).id == 13 %>
					<option selected="selected" value="<%= Regions.find_by_id(m.first.region).price_local %>">[CL$ <%= Regions.find_by_id(m.first.region).price_local %>] Courier (Santiago)</option>
					<% end %>
					<option <% if Regions.find_by_id(m.first.region).id != 13 %>selected="selected"<% end %> value="<%= Regions.find_by_id(m.first.region).price_ems %>">[CL$ <%= Regions.find_by_id(m.first.region).price_ems %>] Correos Chile</option>
					<option value="<%= Regions.find_by_id(m.first.region).price_dhl %>">[CL$ <%= Regions.find_by_id(m.first.region).price_dhl %>] TNT Express</option>
				</select>
			</td>
		</tr>

		<% m.each do |n| %>
		<% 
	 	product_cost = n.service.price * n.amount
		if !Promocode.find_by_order_id(n.id).nil? && Promocode.find_by_order_id(n.id).status == "IN_USE"
			discount = product_cost.to_f / 100 * Promocode.find_by_order_id(n.id).bonus.to_i
			product_cost = product_cost - discount
		end
		%>		
		<tr id="item_<%= n.id %>">
				<td width="40">
					<input type="checkbox" id="<%= n.id %>" name="basketItems[]" value="<%= product_cost %>" checked />
				</td>
				<td width="520" class="tpagar_aleft"><%= n.service.sname %></td>
				<td width="100"><%= n.created_at.strftime("%d/%m/%Y") %></td>
				<td width="40"><%= n.amount %> u.</td>
				<td width="70">
					<% if !Promocode.find_by_order_id(n.id).nil? && Promocode.find_by_order_id(n.id).status == "IN_USE" %>
					<%= Promocode.find_by_order_id(n.id).bonus %>% OFF
					<% end %>
				</td>
				<td width="100" class="tpagar_aleft">CL$ <span><%= product_cost %></span></td>
				<td width="40">
					<a href="javascript:basketDeleteItem('<%= n.id %>', '<%= n.service.price %>')"><img src="/images/delete.png" alt="Cancelar pedido" /></a>
				</td>
		</tr>
		<% sum = sum + product_cost %>
		<% end # each.m %>
	</tbody>
		<% 
		i += 1
		end # each.mas 
		%>

	<tfoot>
		<tr>
			<td colspan="5" class="tpagar_aright">Subtotal ordenes por:</td>
			<td width="100" class="tpagar_aleft">CL$.<span class="totalproducts"><%= sum %></span></td>
			<td></td>
		</tr>
		<tr>
			<td colspan="5" class="tpagar_aright">Delivery:</td>
			<td width="100" class="tpagar_aleft">CL$.<span class="totaldelivery"></span></td>
			<td></td>
		</tr>	
		<tr>
			<td colspan="5" class="tpagar_aright">Total a pagar:</td>
			<td width="100" class="tpagar_aleft">CL$.<span class="totaltopayout"></span></td>
			<td></td>
		</tr>			
	</tfoot>
	</table>

	<input type="hidden" name="totaltopay" id="totaltopay" value="<%= sum %>" />
	</form>
	<div class="clear"></div>

			
	<% if session[:scsum] == 0 %>
	<p>Aun no has pedido nada. Tal vez te gustaría tener unos <a href="<%= root_path %>">Magnetos</a> o <a href="<%= root_path %>">Stickers</a>?</p>
	<% else %>

		
 		<%= form_tag("https://www.pagomaster.com/cl/cuenta/?cmd=checkout2", :method => "post", :id => "pagomaster") do %>
			<%= hidden_field_tag "merchantAccount", "info@lipresso.com" %>
			<%= hidden_field_tag "amount", @billingdata[:totalsum] %>
			<%= hidden_field_tag "currency", "CLP" %>
			<%= hidden_field_tag "item_id", "Instaprinter BoxSet" %>
			<%= hidden_field_tag "return_url", "http://instaprinter.cl/payment" %>
			<%= hidden_field_tag "cancel_url", "http://instaprinter.cl/paymethod" %>
			<%= hidden_field_tag "addresscheckoutstep", "0" %>
			<%= hidden_field_tag "additionalinfocheckoutstep", "1" %>
			<%= hidden_field_tag "pst", "1" %>
			<%= hidden_field_tag "ipk", "1" %>
			<%= hidden_field_tag "emailbuyer", @billingdata[:usermail] %>
			<%= hidden_field_tag "merchant_transaction_id", @billingdata[:bid] %>
			<%= hidden_field_tag "pmaster_orders", @billingdata[:orders] %>
			<%= image_submit_tag "https://www.pagomaster.com/cl/cuenta/buttons/singleitems/boton_1_comprar.png", :id => "submit" %>
 		<% end %>

	<% end %>
	<div class="clear"></div>	
	<div><!--div.commontypo-->
</section>
<!--#content-->

<script type="text/javascript">	
// Выставить все тоталы
function set_total_costs(sum) {
	$('#totaltopay').attr("value", sum); // скрытое поле для нас
	$('#robox_amount').attr("value", sum); // робокасса
	$('#amount').attr("value", sum); // пагомастер
	$('.totaltopayout').html(sum); // таблица
	blink('.totaltopayout'); // поморгать
}

// Определить текущий общий Тотал (прод+дост)
function get_set_total_cost(option) {
	// простейшая математика
	var t_products = parseInt($('.totalproducts').html());
	var t_delivery = parseInt($('.totaldelivery').html());
	var total = t_products + t_delivery;

	if (option == "set") {
		set_total_costs(total); // выставить все тоталы, где надо и поморгать
	} else {
		return total; // просто вернуть результат 
	}
}

// Скрыть кнопки оплаты, если ничего не выбрано
function hide_pay_buttons_if_no_products(sum) {
	if (sum == 0) { 
		$('#pagomaster').hide(); // скрыть
	} else { 
		$('#pagomaster_buysome').show(); // показать
	}
	// поморгать тут не надо =)
}

// Считаем сумму доставки всех выбранных селектов
function calc_selects() {
	$('select').change(function() {		
		var selectedOption = $(this).find('option:selected');
		var selectedOptionValue = $(selectedOption).val();
		var selectedOptionText = $(selectedOption).text();
		var t = 0.0;
		$('select').find('option:selected').each(function(){
			t += parseFloat(this.value);
		});
		$('.totaldelivery').html(t);
		var total = get_set_total_cost("get"); // сначала получить тотал
		set_total_costs(total);  // теперь выставить все тоталы, где надо и поморгать
		blink('.totaltopayout'); // поморгать
	});	
}


// Пересчитать стоимость доставки
function recount_delivery_cost(sum, action) {
	if (action == "minus") {
		var new_total_delivery = parseInt($('.totaldelivery').html()) - parseInt(sum);
	}
	if (action == "plus") {
		var new_total_delivery = parseInt($('.totaldelivery').html()) + parseInt(sum);
	}	
	$('.totaldelivery').html(new_total_delivery);
	blink('.totaldelivery');	
}

// Мониторинг на лету всех действий по чекбоксам
function checkboxes_monitor() {		
	// подсчет суммы чекбоксов на лету
		var checkboxes = $("input:checkbox");						
		checkboxes.change(function() {
		
			var tbody = $(this).closest("tbody");
			var select = tbody.find("select");
			
			var checked = tbody.find("input:checked").size(); 
			var unchecked = tbody.find("input:not(:checked)").size(); //not using, but anyway...
			
			if ( checked == 0 ) {
				$("option", select).attr("disabled", true);
				recount_delivery_cost(select.val(), "minus");
				select.hide();
			}
			
			if ( $("option", select).attr("disabled") && (checked == 1) ) {
					$("option", select).removeAttr('disabled');
					recount_delivery_cost(select.val(), "plus");
					select.show();
			}
			
			var subtotal = 0.0;				
			checkboxes.filter(":checked").each(function() {
				subtotal += parseFloat(this.value);
			});		
			$('.totalproducts').html(subtotal);
			blink('.totalproducts');
						
			var total = get_set_total_cost("get"); // сначала получить тотал
			set_total_costs(total);  // теперь выставить все тоталы, где надо и поморгать
			//hide_pay_buttons_if_no_products(total); // скрыть кнопки, если надо
		});
}

// Удаление заказа из таблица и базы данных
function basketDeleteItem(id, ssum) {
	var total_orders = parseInt($(".scsum").html());
	var trid = $("tr#item_"+id);
	var tbody = trid.closest("tbody");
	var select = tbody.find("select");
	var checkboxes = tbody.find("input:checkbox").size();

	// взять текущую сумму продуктов
	var total_products = parseInt($('.totalproducts').html());
	
	// проверить чекнутый ли соответствующий чекбокс
	// если да, то вычесть стоимость
	if ( $("input#"+id).is(":checked") ) {
		total_products = total_products - ssum;
		// выставить новую сумму продуктов
		$('.totalproducts').html(total_products).fadeIn();
		$("input#"+id).attr("checked", false);
	}
	
	$.ajax({
		type: "POST",
		dataType: "html",
		data: { oid: id },
		url: "/delete"	
	}).done(function(data){
		// красиво удалить строку из DOMа
		trid.fadeOut("slow", function(){ $(this).remove(); });

		// удалить тбади, если надо 
		if (checkboxes-1 == 0) {
			tbody.fadeOut("slow", function(){ $(this).remove(); });
			recount_delivery_cost(select.val(), "minus");	
		}		
		// обновить кол-во заказов в ссылке таблицы
		total_orders = total_orders-1;
		$(".scsum").html(total_orders);
		blink("scsum");
		// и обновить все тоталы
		var total = get_set_total_cost("get");
		get_set_total_cost("set");
		//hide_pay_buttons_if_no_products(total); // скрыть кнопки, если надо
	});	
}

$(document).ready(function() {
	// сброс значений селектов при перезагрузке страницы
	$("select").each( function(){
	  $(this).val( $("#" + $(this).attr("id") + " option:first").val() );
	});
	
	// сброс значений чекбоксов при перезагрузке страницы
	$("input:checkbox").each( function(){
	  $(this).attr("checked", true);
	});
			
	// перехват сабмита формы для обновления данных в сессии до поста
	$("form#pagomaster").live("click", "input#submit", function(){
		// подготовить айдишники заказов 
		var get_checked = $("input:checkbox").filter(":checked");
		var services = new Array();
		var shortservs = new Array();
		$.each(get_checked, function(index, value){
			var sel = $(this).parent().parent().parent().find("select option:selected");
			var dv = sel.html();
			services.push([$(this).prop("id"), dv]);
			shortservs.push($(this).prop("id"));
		});

		// внести отправленные заказы в форму до сабмита
		$('#pmaster_orders').attr("value", shortservs);
		
		$.ajax({
			type: "POST",
			dataType: "html",
			data: { hueta: services },
			url: "/update"	
		}).done();
		
		var values = {};
		$.each($(this).serializeArray(), function(i, field) {
		    values[field.name] = field.value;
		});
		
		//console.log(values);
		
		$.ajax({
			type: "POST",
			dataType: "html",
			data: values,
			url: "/payment/pagomaster"	
		}).done();	
			
		return true;
	});

	checkboxes_monitor();
	calc_selects();
});

//<![CDATA[ 
$(window).load(function(){
	var dcost = 0.0;
	$('select').find('option:selected').each(function(){
		dcost += parseFloat(this.value);
	});	
	$('.totaldelivery').html(dcost);
	var pretotal = get_set_total_cost("get"); // сначала получить тотал
	set_total_costs(pretotal);  // теперь выставить все тоталы, где надо и поморгать
	blink('.totaltopayout'); // поморгать	
});//]]>
</script>