<header>		
	<h1>Contactanos</h1>
</header>

<section id="content" class="widecolumn clearfix">
	<section id="breadcrumbs" class="generic">
		<%= render 'layouts/breadcrumbs' %>
	</section><!--#breadcrumps-->

	<div class="commontypo">

	<p>Instaprinter esta abierto a comunicación.<br/> Cualquier duda, consulta o sugerencia estamos a su disposicíón.<br/> Contactanos por correo electrónico al</p>
	<p><a href="mailto:mail@instaprinter.cl?subject=Feedback Instaprinter">mail@instaprinter.cl</a></p>

	<p>Encuentranos en redes sociales:</p>
	
	<p class="center"><a class="hoverbutton" href="http://www.facebook.com/instaprinterchile"><img src="/images/facebook.png" alt="Instaprinter en Facebook" /></a> <a class="hoverbutton" href="http://www.twitter.com/CLInstaprinter"><img src="/images/twitter.png" alt="Twitter Instaprinter" /></a> <a class="hoverbutton" href="https://plus.google.com/101872613415716010246/posts"><img src="/images/googleplus.png" alt="Google+ Instaprinter" /></a></p>
	
	</div>

	<div class="clear"></div>	
</section><!--#content-->