<header>		
	<h1><%= link_to "INSTAPRINTER".html_safe, root_path %></h1>
	<h2 class="tagline">Imprimimos fotos de tu Instagram y te las llevamos a tu casa!</h2>
</header>

<section id="content" class="homepage clearfix">
	<% @dbproducts.each do |s| %>
		<% if s.status %>				
		<%
		# Prepare title of link depending on service
		if !session[:access_token]
			href = url_for(:controller => 'services', :action => 'show', :s => s.id, :only_path => false, :protocol => 'http')
		# Otherwise continue to next step
		else	
				href = url_for(:controller => 'feed', :action => 'index', :s => s.id, :only_path => false, :protocol => 'http')
		end
				
		#href = url_for(:controller => 'services', :action => 'show', :s => s.id, :only_path => false, :protocol => 'http')
		case s.id
			when 1	; link_title = "Crear magnetos"
			when 2	; link_title, href = "Crear stickers", ""
			when 3	; link_title = "Crear poster"
		end
		%>		
		<article id="id-<%= s.id %>" class="product" onclick="location.href='<%= href %>';">
		<h2><%= s.sname %></h2>
		
		<div>			
			<img src="images/product_id_<%= s.id %>.png" alt="<%=  s.sname %> de Instagram" width="245" height="245" />			
		</div>
		</article>
		<% end %>
	<% end %>
	
	<div class="clear"></div>
	
	<section class="anounce commontypo">
		
	</section>
	
	<section id="about" class="aboutbox">
		<h2>Nuestro equipo</h2>

		<p>Somos fanáticos de Instagram. Nos encanta sacar fotos y compartirlas con amigos en redes sociales, por email, etc. Siempre queríamos dar más vida a nuestras fotos digitales.</p>

		<p>Imagínate tener un poster gigante con tus fotos de Instagram o magnetos y stickers que puedes pegar donde quieres.</p>
	</section>
	
	<section id="service" class="aboutbox">
		<h2>Que es Instaprinter</h2>
		
		<p>Solo con tres pasos en Instaprinter obtendrás las cositas magníficas e impresionantes. Aprovéchalo ahora con un par de click convierte tus fotos en magnetos, stickers, posters u otros productos maravillosos.</p>
	</section>
	
	<section id="social" class="aboutbox">
		<h2>Donde encontrarlos</h2>
		
		<p>Encuentranos en redes sociales:</p>
		
		<p class="center"><a class="hoverbutton" href="http://www.facebook.com/instaprinterchile"><img src="/images/facebook.png" alt="Instaprinter en Facebook" /></a> <a class="hoverbutton" href="http://www.twitter.com/CLInstaprinter"><img src="/images/twitter.png" alt="Twitter Instaprinter" /></a> <a class="hoverbutton" href="https://plus.google.com/101872613415716010246/posts"><img src="/images/googleplus.png" alt="Google+ Instaprinter" /></a></p>
		
		<p class="center">También en Instagr.am</p>
		<p class="center"><img src="/images/instagram.png" alt="Instaprinter en Instagr.am" /></p>
		</section>		
	<div class="clear"></div>	
</section><!--#content-->