/*
Skin Name: Minimal Theme
Skin URI: http://www.medialoot.com
Skin Type: flexible
Description: A minimalistic skin for the Nivo Slider.
Version: 1.0
Author: Tony Thomas
Author URI: http://www.medialoot.com
*/

.theme-minimal .nivoSlider {
	position:relative;
	margin-bottom: 140px;
	background:#fff url(loading.gif) no-repeat 50% 50%;
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.65);
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.65);
	box-shadow: 0px 2px 5px rgba(0,0,0,0.65);
}
.theme-minimal .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-minimal .nivoSlider a {
	border:0;
	display:block;
}

.theme-minimal .nivo-controlNav {
	position:absolute;
	right:10px;
	top:12px;
    margin-left:-40px; /* Tweak this to center bullets */
}
.theme-minimal .nivo-controlNav a {
	display:block;
	width:16px;
	height:16px;
	background: #fff;
	text-indent:-9999px;
	border:0;
	margin-right:5px;
	float:left;
}
.theme-minimal .nivo-controlNav a.active {
	background: #69bdfa;
}

.theme-minimal .nivo-directionNav a {
	display:block;
	width:18px;
	height:18px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
.theme-minimal a.nivo-nextNav {
	background-position:-18px 0;
	left:40px;
	top: 12px;
}
.theme-minimal a.nivo-prevNav {
	left:15px;
	top: 12px;
}

.theme-minimal .nivo-caption {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.theme-minimal .nivo-caption a {
    color:#fff;
}
.theme-minimal .nivo-caption a:hover {
    color:#fff;
}