/*
Skin Name: Simplicity Theme
Skin URI: http://www.medialoot.com
Skin Type: flexible
Description: A simple, clean skin for the Nivo Slider.
Version: 1.0
Author: Tony Thomas
Author URI: http://www.medialoot.com
*/

.theme-simplicity .nivoSlider {
	position:relative;
	margin-bottom: 140px;
	background: url(loading.gif) no-repeat 50% 50%;
	-webkit-box-shadow: 0px 2px 10px rgba(0,0,0,0.65);
	-moz-box-shadow: 0px 2px 10px rgba(0,0,0,0.65);
	box-shadow: 0px 2px 10px rgba(0,0,0,0.65);
}
.theme-simplicity .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-simplicity .nivoSlider a {
	border:0;
	display:block;
}

.theme-simplicity .nivo-controlNav {
	position:absolute;
	left:50%;
	bottom:-42px;
    margin-left:-40px; /* Tweak this to center bullets */
}
.theme-simplicity .nivo-controlNav a {
	display:block;
	width:20px;
	height:20px;
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.theme-simplicity .nivo-controlNav a.active {
	background-position:-20px 0px;
}

.theme-simplicity .nivo-directionNav a {
	display:block;
	width:31px;
	height:86px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
.theme-simplicity a.nivo-nextNav {
	background-position:-31px 0;
	right:15px;
	top: 38%;
}
.theme-simplicity a.nivo-prevNav {
	left:15px;
	top: 38%;
}

.theme-simplicity .nivo-caption {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.theme-simplicity .nivo-caption a {
    color:#fff;
}
.theme-simplicity .nivo-caption a:hover {
    color:#fff;
}