<header>		
	<h1>Promocodes</h1>
</header>

<%= render 'layouts/adlogout' %>

<section id="admincontent" class="commontypo clearfix">
	<section id="breadcrumbs" class="generic">
		<%= render 'layouts/abreadcrumbs' %>
	</section><!--#breadcrumps-->
	<table cellspacing="0" cellpadding="0" border="0" width="630">
		<thead>
		<tr>			
			<td width="100">Code</td>
			<td width="100">Owner</td>
			<td width="100">Bonus</td>
			<td width="100">Service</td>
			<td width="100">Status</td>
			<td width="100">End date</td>
			<td width="30">Delete</td>
		</tr>	
		</thead>	
		<tbody>
			<% @Promo.each do |p| %>
			<tr id="<%= p.id %>">
				<td><%= p.code %></td>
				<td><%= "-" if p.user.blank? %><%= User.find(p.user_id).login if !p.user.blank? %></td>
				<td><%= p.bonus %></td>
				<td><%= Service.find(p.service_id).sname %></td>
				<td>
				<%= "Inactive" if p.status == "FREE" %>
				<%= "Activated at #{p.activation.strftime("%d/%m/%Y")}" if p.status == "IN_USE" %>
				<%= "Used at #{p.activation.strftime("%d/%m/%Y")}" if p.status == "USED" %>
				</td>
				<td><%= p.use_until.strftime("%d/%m/%Y") %></td>
				<td><a href="javascript:deletePromo('<%= p.id %>')"><img src="/images/delete.png" alt="del promo" /></a></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<h3 class="center"><%= link_to "New code", new_promocode_path %></h3>
</section>