<header>		
	<h1>Promocodes</h1>
</header>

<%= render 'layouts/adlogout' %>

<section id="admincontent" class="commontypo clearfix">
	<section id="breadcrumbs" class="generic">
		<%= render 'layouts/abreadcrumbs' %>
	</section><!--#breadcrumps-->
		<%= form_for :promocode, :url => promocodes_path do |f| %>
			<p><%= f.label :code, "Code:" %>
			<%= f.text_field :code %></p>
			<p><%= f.label :bonus, "Bonus:" %>
			<%= f.text_field :bonus %></p>
			<p><%= label :service, "Service:" %>
			<%= select :service, :service_id, Service.find(:all).collect {|s| [s.sname, s.id]} %></p>	
			<p><%= f.label :use_until, "Use until:" %>
			<%= f.date_select :use_until, :order => [:day, :month, :year] %></p>
			<%= hidden_field_tag("promocode[status]", "FREE") %>
			<%= f.submit "Create" %>		
		<% end %>
</section>