<section id="content" class="clearfix">	
	<section id="breadcrumbs">
		<%= render 'layouts/breadcrumbs' %>	
	</section><!--#breadcrumps-->

	<h2 class="subtitle">Ordenar fotos</h2>

	<p class="center"><em><%= @user %></em>, ahora tienes que colocar fotos en la matriz. Podes colocar la misma foto en varias celdas.</p>
	
	<section id="instacontainer">
	<%
	params.delete("utf8")
	params.delete("commit")
	params.delete("action")
	params.delete("controller")
	%>
	<div id="instagramstream">
	<% params.each do |p| %>
	<% media = Instagram.media_item(p[1]) %>
	<img class="dndable" src="<%= media.images.thumbnail.url %>" name="isam[]" id="<%= media.id %>" alt="" width="135" height="135" />
	<% end %>
		<div class="clear"></div>
	</div>
	</section><!--#instacontainer-->

	<section id="matrixholder">	
	<div id="matrix">
		<div id="dropbox01" class="dropbox"></div>
		<div id="dropbox02" class="dropbox"></div>
		<div id="dropbox03" class="dropbox"></div>
		<div id="dropbox04" class="dropbox"></div>
		<div id="dropbox05" class="dropbox"></div>
		<div id="dropbox06" class="dropbox"></div>
		<div id="dropbox07" class="dropbox"></div>
		<div id="dropbox08" class="dropbox"></div>
		<div id="dropbox09" class="dropbox"></div>	
		<div class="clear"></div>	
	</div>
	</section><!--#matrixholder-->
	<div class="clear"></div>

	<p>Cuando termias apreta siguiete botón para llenar los datos personales y confirmar compra!</p>
	<p>
		<a class="large awesome" href="<%= url_for(:controller => 'orders', :action => 'new', :only_path => false, :protocol => 'http') %>">Ordenar fotos en matriz &#8674;</a> 
	</p>

</section><!--#content-->