<%
# Prepare href link 
# If not logged yet send user to Instagram Auth page
if !session[:access_token]
	loginlink = url_for(:controller => 'sessions', :action => 'connect', :only_path => false, :protocol => 'http')
	logintext = "Ingresar"
# Otherwise continue to next step
else			
	loginlink = "javascript:logout()"
	logintext = "Salir"
end
%>
<!DOCTYPE html>
<html>
<head>
	<%= csrf_meta_tags %>
	<meta charset="utf-8" />
	<title><%= @title %></title>

	<link type="text/css" rel='stylesheet' href='http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic' />	
	<link type="text/css" rel="stylesheet" href="/css/default.css" />
	<link type="text/css" rel="stylesheet" href="/js/fancybox/jquery.fancybox.css?v=2.0.5" /> 

	<script type="text/javascript" src="/js/jquery.latest.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/jquery.pngFix.pack.js"></script>
	<script type="text/javascript">
	$.ajaxSetup({ 
		'beforeSend': function(xhr) { xhr.setRequestHeader("Accept", "text/javascript"); }
	});
	$.ajaxSetup({
		'beforeSend': function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $("meta[name='csrf-token']").attr('content')); }
	});

	$(function() {
	   $.support.placeholder = false;
	   test = document.createElement('input');
	   if('placeholder' in test) $.support.placeholder = true;
	});
	</script>

	<script type="text/javascript" src="/js/html5/modernizr-1.6.min.js"></script>
	<script type="text/javascript" src="/js/html5/EventHelpers.js"></script>
	<script type="text/javascript" src="/js/html5/html5Widgets.js"></script>

	<!--[if IE]>
	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<script type="text/javascript" src="/js/cufon/cufon-yui.js"></script>
	<script type="text/javascript" src="/js/cufon/Lavanderia_420.font.js"></script>
	<script type="text/javascript" src="/js/cufon/ChunkFive_400.font.js"></script>
	<script type="text/javascript" src="/js/jquery.ui.touch-punch.min.js"></script>
	<script type="text/javascript" src="/js/jscrollpane/jquery.mousewheel.js"></script>
			
	<script type="text/javascript" src="/js/jquery-scrolltofixed-min.js"></script>		
	<script type="text/javascript" src="/js/fancybox/jquery.fancybox.pack.js?v=2.0.5"></script>

	<% if session[:bread] %>
		<% if session[:bread].last.first == "Completar formulario" %>
		<script type="text/javascript" src="/js/jquery.validate.js"></script>
		<% end %>
	
		<% if session[:bread].last.first == "Seleccionar Fotos" %>
		<script type="text/javascript" src="/js/jquery.offtmp.js"></script>	
		<% end %>
	<% end %>
	
	<% 
	if !session[:abread].nil?
		if session[:abread].last.last == editadmin_path 
	%>
		<script type="text/javascript" src="/js/jquery.validate.js"></script>		
	<%
		end
	end
	%>

	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/admin.js"></script>

	<script type="text/javascript">
	// Cufon	
	Cufon.replace('header h1', {fontFamily: 'ChunkFive'});
	Cufon.replace('h2', {fontFamily: 'Lavanderia'}); // Works without a selector engine
	Cufon.replace('.tagline', {fontFamily: 'Lavanderia'}); // Requires a selector engine for IE 6-7, see above	

	$(document).ready(function() {
		hover_links('a.hoverbutton');
		$(".sampledata a").fancybox();				
		scrollToFixed();
		check_promocode();

		$(".loginbutton").hover(
			function() { $(this).attr("src","/images/loginbutton-hover.png"); },
			function() { $(this).attr("src","/images/loginbutton.png");  
		}).animate("slow");

		<% if session[:bread] %>
		<% if session[:bread].last.first == "Seleccionar Fotos" %>
		select_toogle();
		<% end %>
		
		<% case session[:s] %>
		<% when "3" then %>
		var max = 128;
		<% when "2" then %>
		var max = 252;
		<% else %>
		var max = 20;
		<% end %>
			
		delete countchecked;
		imageSelector();
		validate_imageboxes(max);
	<% end %>
		
	<% if session[:bread] %>
		<% if session[:bread].last.first == "Completar formulario" %>
		validate_orderform();
		<% end %>
	<% end %>
	});	

	function logout() {
		$.ajax({
			type: "POST",
			dataType: "json",
			url: "http://instagram.com/accounts/logout/",
			success: window.location.href = "<%= url_for(:controller => 'sessions', :action => 'logout') %>"
		});
	}
	</script>	
	
	<meta name="robots" content="index,follow" />
	<meta name="keywords" content="fotos instagram, imprimir fotos instagram, instagram impresión de fotos, impresión de fotos instagram, como imprimir fotos instagram, donde imprimir fotos instagram, imprimir fotos de instagram en chile, impresión fotos instagram chile, instaprinter chile, instaprinter impresión de fotos instagram, imanes de instagram fotoiman, imprimir imanes, imanes barato, imprimir poster instagram, imprimir stickers de instagram" />
	<meta name="description" content="Instaprinter. Impresión de fotos Instagram. Imprima las fotos de Instagram en nuestro servicio y te las llevamos a tu casa!" />
	<meta name="copyright" content="&copy; InstaPrinter. By Lipresso Networks" />
	<meta name="msvalidate.01" content="E1EA97EFFF3AEAAA5F0800028FD821B5" />
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32159931-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
<div class="beta">
	<img src="/images/beta.png" width="90" height="90" alt="Instaprinter Beta" />
</div>
<div class="topwrapper">
</div>
<nav>
	<%
	if !session[:access_token]
		login_href = url_for(:controller => 'sessions', :action => 'connect', :only_path => false, :protocol => 'http')
		login_link_title = "Ingresar"
	else			
		login_href = "javascript:logout();"
		login_link_title = "Salir"
	end	
	%>
	<a id="home" href="<%= root_path %>"><img src="/images/home.png" alt="Principal" /> Home</a>
	<strong>|</strong> <a id="contacts" href="/contacts">Contactos</a>
	<% if !session[:access_token] %>
	<strong>|</strong> <a href="#">Carrito de compras</a>
	<% else %>
	<strong>|</strong> <a class="shoppingcart" href="/basket">Carrito de compras (<span class="scsum"><%= session[:scsum] %></span>)</a>
	<% end %>
	<strong>|</strong> <a class="singin" href="<%= login_href %>"><%= login_link_title %></a>
</nav>

<%= yield %>

<footer>
	<p>&copy; 2012, Instaprinter. <a href="/contacts">Contactos</a> | Creado en <a href="http://www.lipresso.com">Lipresso Networks</a></p>
</footer>
<script type="text/javascript"> 
	Cufon.now();
</script>
</body>
</html>